body {
  font-family: 'Open Sans', sans-serif;
}

.bakerloo {
  background-color: #B05F21;
}
.central {
  background-color: #ED462F;
}
.circle {
  background-color: #FBD133;
}
.district {
  background-color: #3D843E;
}
.elizabeth {
  background-color: #6950A1;
}
.hammersmith {
  background-color: #F085A0;
}
.jubilee {
  background-color: #959CA1;
}
.metropolitan {
  background-color: #99305E;
}
.northern {
  background-color: #231F20;
}
.overground {
  background-color: #E76A10;
}
.piccadilly {
  background-color: #1B3F94;
}
.victoria {
  background-color: #379DDC;
}
.waterloo {
  background-color: #84CDBC;
}


span {
  height: 19px;
  width: 19px;
  border-radius: 50%;
  display: inline-block;
  margin-right:10px;
}

.title {
  display: inline-block;
  margin-bottom:0;
}

h2 {
  font-weight: 400;
}
h3 {
  margin-top: 10px;
  margin-bottom: 0;
}

.logo-title {
  width: 192px;;
  margin: 0 auto;
}


.logo {
height: 90px;
margin-left: 48px;
padding-top: 50px;
}

}

.text-centered {
  text-align: center;
}

.tube {
  width:33.33%;
  padding-left: 24px;
  padding-right: 24px;
}

.tube-list {
  display: flex;
  margin-top: 50px;
  margin-right: 10%;
  margin-left: 10%;
}

.colorGreen {
  color: green;
}




/* styles for 0 - 1280 */
@media only screen and (max-width: 768px) {

.tube {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-top: 25px;
}

.tube-list {
  display: block;
  margin-top: 0;
}



}
